[program:fronius2mqtt]
command=/opt/service/fronius2mqtt/run
process_name=%(program_name)s
directory=/opt/service/fronius2mqtt
umask=022
autostart=true
redirect_stderr=true
stdout_logfile=/var/log/fronius2mqtt/main.log
stdout_logfile_maxbytes=2MB
stdout_logfile_backups=1
stdout_capture_maxbytes=0
stdout_events_enabled=false
environment=LOGDIR=/var/log/fronius2mqtt
