{
    "mqtt_host": "localhost",
    "mqtt_port": "1883",
    "mqtt_keepalive": "30",
    "mqtt_clientid": "fronius2mqtt",
    "mqtt_user": "fronius2mqtt",
    "mqtt_password": "t0p_s3cr3t",
    "mqtt_topic": "fronius",
    "mqtt_tls": "false",
    "mqtt_tls_version": "TLSv1.2",
    "mqtt_verify_mode": "CERT_NONE",
    "mqtt_ssl_ca_path": "/etc/ssl/myca.pem",
    "mqtt_tls_no_verify": "false",
    "http_host": "0.0.0.0",
    "http_port": 80,
    "verbose": "false"
}
