mqtt:
    host: localhost
    port: 1883
    user: user
    password: secret
    topic: "mqtt/topic/for/fronius"
fronius:
    - inverter:
        host: "inverter.myfroniusfarm"
        device: 1
        topic: "inverter_1"
    - inverter:
        host: "inverter.myfroniusfarm"
        device: 2
        topic: "inverter_2"
    - storage:
        host: "storage.myfroniusfarm"
        device: 0
        topic: "battery_1"
    - meter:
        host: "storage.myfroniusfarm"
        device: 0
        topic: "meter"
    - flow:
        host: "storage.myfroniusfarm"
        topic: "flow"
